/** 
 * Pinzon solution:
 * http://stackoverflow.com/questions/20005278/twitter-bootstrap-3-vertically-center-content
 * This was the only solution that worked responsively, for my project
 **/
[class*='col-'] {
  float:none;
  display:inline-block;
  vertical-align:middle;
  margin-right:-4px;
}

.my-thumbs {
  text-align: center;
}

.my-thumbs img {
  padding-bottom: 5px;
}

.debug {
  border: 1px solid red;
}

.main-stuff.container {
  min-height: 1080px; /* I got annoyed with the footer being seen on load */
  padding-bottom: 100px;
}

.project.ng-enter { 
  -webkit-animation-name: slide-from-left;
  animation-name: slide-from-left;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}

.project.ng-enter-stagger { 
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

@keyframes slide-from-left {
  0% {
    -webkit-transform: translate(-2000px, 0px);
    transform: translate(-2000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

@-webkit-keyframes slide-from-left {
  0% {
    -webkit-transform: translate(-2000px, 0px);
    transform: translate(-2000px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.top-h1 {
  border-bottom: none; /* override bootstrap theme */
}

.footer {
  /* background-image: linear-gradient(to bottom, #b5d9e1, #e6f2f5); */
  background-image: linear-gradient(to bottom, #337ab7, #ffffff);
}

.bottom {
  padding: 10px 0px;
}

.contact-area {
  /* border: 1px solid yellow; */
}

.contact-area h2 {
  color: white;
}

.profile-pic {
  /* border: 3px solid blue; */
}

body {
  font-family: "Lato";
}
